#photo-form-container {
    padding: 1em;
    color: #fff;
    font-size: .9em;
    border: 1px solid #f00;
}

#photo-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photo-form-container__image {
    margin: 1em 0em;
}

#photo-form-container__submit-btn {
    background-color: var(--lyncblue);
    flex: 0 0 auto;
    padding: .6em;
    cursor: pointer;
}

#photo-form-container__submit-btn.disabled {
    background-color: #5c9df3;
}