.msg-banner {
    display: flex;
    padding: .45em var(--side-padding);
    font-size: .9em;
    cursor: pointer;
}

.msg-banner:hover {
    background-color: var(--hovergrey);
}

.msg-banner__photo {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    margin-right: .6em;
}

.msg-banner__msg-container {
    flex: 1 0 auto;
}

.msg-banner__name-wrapper {
    display: flex;
    height: 40%;
    margin: .3em 0em .2em;
}

.msg-banner__name-wrapper b {
    flex: 1 0 auto;
}

.msg-banner__name-wrapper time {
    color: var(--lynclightgrey);
    font-size: .9em;
}

.msg-banner__msg-wrapper {
    display: flex;
    font-size: .9em;
    color: var(--lynclightgrey);
}

.msg-banner__message  {
    flex: 1 0 auto;
}

.msg-banner__msg-count {
    background-color: var(--lyncblue);
    color: #fff;
    font-size: .9em;
    padding: 3px;
    border-radius: 50%;
}