@charset "utf-8";

#chatbox {
    width: 35em;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0em 2px;
}

#chatbox .message-box {
    flex: 1 1 auto;
    padding: 0em 2em;
}