@charset "utf-8";

#side-nav {
    border: 1px solid red;
}

#side-nav ul {
    display: flex;
    flex-direction: column;
    margin: 1em .5em 0em;
}

#side-nav ul li {
    margin: .35em 0em;
}

#side-nav .iconbtn {
    border-radius: 8px;
}

#side-nav .iconbtn img {
    width: 30px;
}

#side-nav__chat svg path {
    stroke: var(--lynclightgrey);
}

#side-nav__settings svg path:first-child {
    fill: var(--lynclightgrey);
}

#side-nav__settings svg path:last-child {
    stroke: var(--lynclightgrey);
}
