@charset "utf-8";

.chatinfo-rule {
    font-size: .7em;
    text-align: center;
    color: var(--lynclightgrey);
    position: relative;
    margin: 1.2em 0em;
}

.chatinfo-rule span {
    background-color: var(--darkmode-black);
    padding: 0em 1.5em;
}

.chatinfo-rule hr {
    position: absolute;
    width: 100%;
    border-color: #ffffff25;
    top: 50%;
    z-index: -1;
}